{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h1 class="text-body-emphasis fw-bold">About Us</h1>
        <p style="font-size:17px">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat consequat enim at mollis. Vivamus ut
            tellus
            sollicitudin, viverra risus ac, rutrum orci. Nunc ac nisi eleifend, facilisis mauris et, semper neque. Sed
            et
            sem eu turpis congue eleifend. Donec at lectus urna. Pellentesque sit amet odio tortor. In pulvinar lobortis
            libero quis efficitur. Nam consequat sodales orci, convallis ullamcorper nunc luctus id. Duis egestas ante
            quis
            gravida scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
            Praesent commodo, dolor vel gravida mollis, nisi turpis faucibus leo, molestie tempor nunc ligula non eros.
            Etiam lacus libero, euismod non porttitor id, egestas in eros. In dignissim libero sed tortor imperdiet
            feugiat.
            Nullam venenatis vehicula urna. Sed sagittis, dui id mollis pellentesque, eros velit mattis libero, ac
            malesuada
            libero elit vel libero.
        </p>
    </div>
</div>
{% endblock %}