{% extends "base.html" %}

{% block content %}
<div style="text-align: center;">
    <h1>Welcome to the page for {{ user.username }}</h1>
    <img width="200" src="{{ url_for('static', filename='profile_imgs/' + user.profile_img) }}" alt="" />
    <br />

    {% for post in posts.items %}
    <a href="{{ url_for('posts.blog_post', blog_post_id=post.id) }}">
        <h2>{{ post.title }}</h2>
    </a>
    <p>Published by: <a href="{{ url_for('posts.user_posts', username=user.username) }}">{{ user.username }}</a></p>
    <p>Published on: {{ post.datetime.strftime('%Y-%m-%d') }}</p>
    <br />
    <p>{{ post.desc }}</p>
    <br />
    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if posts.page == page_num %}
            <li class="page-item disabled"> {{ page_num }} </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('posts.user_posts', username=user.username, page=page_num) }}">
                    {{ page_num }}
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>
{% endblock %}