{% extends "base.html" %}

{% block content %}
<div style="text-align: center;">
    <h1>Welcome to the page for {{ user.username }}</h1>
    <img width="200" src="{{ url_for('static', filename='profile_imgs/' + user.profile_img) }}" alt="" />
    <br />

    {% for post in posts.items %}
    <a href="{{ url_for('posts.blog_post', id='post.id') }}">
        <h2>{{ post.title }}</h2>
    </a>
    <p>Published by: <a href="{{ url_for('posts.user_posts', username=user.username) }}">{{ user.username }}</a></p>
    <p>Published on: {{ post.datetime.strftime('%Y-%m-%d') }}</p>
    {% endfor %}
</div>
{% endblock %}